<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!--mybatis-->
<mapper namespace="com.ghj.hound.mapper.coin.CoinMapper">
    <resultMap id="BaseResultMap" type="com.ghj.hound.entity.coin.Coin">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="bourse" jdbcType="VARCHAR" property="bourse"/>
        <result column="currency" jdbcType="VARCHAR" property="currency"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <select id='getCoins' resultMap='BaseResultMap'>
        select *
        from
        coin where 1=1
    </select>


    <insert id="insertCoin" parameterType="com.ghj.hound.entity.coin.Coin">
      INSERT into coin(
      bourse,currency,price,create_time
      )
      VALUES(
      #{bourse},#{currency},#{price},#{createTime}
      )
    </insert>


    <select id='getLast' resultMap='BaseResultMap'>
        select *
        from
        coin where currency = #{currency, jdbcType=VARCHAR} and create_time &lt; #{create_time,jdbcType=TIMESTAMP}
        order by create_time desc LIMIT 1
    </select>

    <select id='getBefore' resultMap='BaseResultMap'>
        select *
        from
        coin where currency = #{currency, jdbcType=VARCHAR} and create_time &gt; #{create_time,jdbcType=TIMESTAMP}
        order by create_time LIMIT 1
    </select>

</mapper>